<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Liste des métiers</title>
  </head>
  <body>
    <h1>Liste des métiers</h1>

    <p>Certaines fiches métiers sont disponibles.</p>

    <ul>
      {% for job in jobs %}
        <li>{{ job }}</li>
        {% if job in ["Data Scientist", "Data Analyst", "Data Engineer"] %}
          <button onclick="downloadInfo('{{ job }}')">Download info</button>
        {% endif %}
      {% endfor %}
    </ul>
  </body>
</html>

<script>

async function downloadInfo(job) {

  window.location.href=`/jobs/download/${job}`;

}

</script>