<!DOCTYPE html>
<script>
  function chooseFile() {
    var fileInput = document.createElement("input");
    fileInput.type = "file";
    fileInput.addEventListener("change", function (event) {
      var selectedFile = event.target.files[0];
      uploadFile(selectedFile);
    });

    fileInput.click();
  }

  function uploadFile(file) {
    var form = new FormData();
    form.append("file", file);

    fetch("/salary/add_cv/", {
      method: "POST",
      body: form,
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Réponse du serveur :", data);
      })
      .catch((error) => {
        console.error("Erreur lors de l'envoi du fichier :", error);
      });
  }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistics by Location</title>
  </head>
  <body>
    <h1>Statistics by Location</h1>
    <form action="/salary/show_salaries/" method="get">
      <label for="location">Enter Location:</label>
      <input type="text" id="location" name="loc" required />
      <br />
      <label for="description">Enter description:</label>
      <input type="text" id="description" name="desc" required />
      <button type="submit">Get Results</button>
    </form>
    <button onclick="location.href='/salary/show_cv'">
      Chercher selon mon CV
    </button>
    <button onclick="chooseFile()">Ajouter mon CV</button>
    <h1>Statistics</h1>
    {%if stats%}
    <table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in stats.items() %}
        <tr>
          <td>{{ key }}</td>
          <td>{{ value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {%endif%}
    <h1>Jobs</h1>
    <table>
      <thead>
        <tr>
          <th>Job Title</th>
          <th>Salary</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {% if salaries%} {% for salary in salaries %}
        <tr>
          <td>{{ salary.job_title }}</td>
          <td>{{ salary.salary }}</td>
          <td>{{ salary.company_location }}</td>
          {% if salary.job_title in ['Data Scientist', 'Data Engineer', 'Data
          Analyst']%}
          <td>
            <button
              onclick="location.href='/jobs/download/{{ salary.job_title }}'"
            >
              Download info
            </button>
          </td>
          {%endif%}
        </tr>
        {% endfor %} {%endif%}
      </tbody>
    </table>
    <div class="pagination">
      <span class="step-links">
        {% if page > 1 %}
        <a href="/salary/show_salaries/?desc={{ desc }}&loc={{ loc }}&page=1"
          >&laquo; first</a
        >
        <a
          href="/salary/show_salaries/?desc={{ desc }}&loc={{ loc }}&page={{ page-1 }}"
          >previous</a
        >
        {% endif %}

        <span class="current"> Page {{ page }} of {{ total_pages }} </span>

        {% if page < total_pages %}
        <a
          href="/salary/show_salaries/?desc={{ desc }}&loc={{ loc }}&page={{ page+1 }}"
          >next</a
        >
        <a
          href="/salary/show_salaries/?desc={{ desc }}&loc={{ loc }}&page={{ total_pages }}"
          >last &raquo;</a
        >
        {% endif %}
      </span>
    </div>

    <!-- Ajout du bouton pour changer de page -->
    <form action="/salary/show_salaries/" method="get">
      <label for="new_page">Go to Page:</label>
      <input
        type="number"
        id="new_page"
        name="page"
        min="1"
        value="{{ page }}"
        required
      />
      <button type="submit">Go</button>
    </form>

    <a href="/accueil" class="home-button">
      <svg
        class="home-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 2l-12 10h4v10h16v-10h4l-12-10zm4 15h-3v-3h-4v3h-3l5-5 5 5z"
        />
      </svg>
    </a>
  </body>

  <style>
    .home-button {
      position: fixed;
      top: 20px;
      right: 20px;
      background-color: #ffffff;
      border: 1px solid #000000;
      border-radius: 50%;
      padding: 10px;
      z-index: 999;
      cursor: pointer;
    }

    .home-icon {
      width: 24px;
      height: 24px;
      fill: #000000;
    }
  </style>
</html>
