<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistics by Location</title>
  </head>
  <body>
    <h1>Statistics by Location</h1>
    <form action="/salary/show_stats_from_loc/" method="get">
      <label for="location">Enter Location:</label>
      <input type="text" id="location" name="loc" required />
      <button type="submit">Get Statistics</button>
    </form>
    <button onclick="location.href='/salary/show_from_cv'">
      Chercher selon mon CV
    </button>
    <form action="/salary/search_from_desc/" method="get">
      <label for="description">Enter description:</label>
      <input type="text" id="description" name="desc" required />
      <button type="submit">Get Results</button>
    </form>
  </body>
</html>
